<div class="row">

    <div class="col-md">
        <div class="center padding-5">
            <h3>Welcome to JPOWERS HAIR</h3>
            <h3><i>Meet Your New Favorite Hair Stylist</i></h3>
        </div>
        <app-carousel></app-carousel>
    </div>
</div>

<div class="row padding-15">
    <div class="col-md-7">
        <h3>Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2794.2464615617932!2d-112.35914228182615!3d33.60691899578574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b448b33cdc9f5%3A0x97eb3990ccc5118!2s13547+N+Litchfield+Rd+%2339%2C+Surprise%2C+AZ+85379!5e0!3m2!1sen!2sus!4v1550330321746" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
        <h3>Hours</h3>
        <table>
            <tr>
                <td><b>Monday</b></td>
                <td>Closed</td>
            </tr>
            <tr>
                <td><b>Tuesday</b></td>
                <td>Closed</td>
            </tr>
            <tr>
                <td><b>Wednesday</b></td>
                <td>10:00 AM - 6:00 PM</td>
            </tr>
            <tr>
                <td><b>Thursday</b></td>
                <td>10:00 AM - 6:00 PM</td>
            </tr>
            <tr>
                <td><b>Friday</b></td>
                <td>10:00 AM - 7:00 PM</td>
            </tr>
            <tr>
                <td><b>Saturday</b></td>
                <td>10:00 AM - 7:00 PM</td>
            </tr>
            <tr>
                <td><b>Sunday</b></td>
                <td>11:00 AM - 6:00 PM</td>
            </tr>   
            
        </table>
        <p><i>**Due to my upcoming Wedding hours in Mid October and Early November will be limited.</i></p>
        <br/>
        <h3>Services</h3>
        Women's Haircut<br/>
        Men's Haircut<br/>
        Shampoo<br/>
        Highlights<br/>
        Color<br/>
        Balayage<br/>
        Brazilian Blowout<br/>
        Wax<br/>
    </div>
</div>